<button
  *ngFor="let note of notes; let i = index"
  class="note"
  (click)="beep(i)"
  [ngStyle]="
    !note.playing
      ? {
          'background-color': '#000',
          color: '#fff',
          left: note.frequency / 2 + 'px',
          top: note.row * 30 + 100 + 'px'
        }
      : {
          'background-color': '#fff',
          color: '#000',
          left: note.frequency / 2 + 'px',
          top: note.row * 30+ 100 + 'px'
        }
  "
>
  {{ note.name }}
</button>
<button (click)="silence()">silence</button>
<button (click)="distort(50)">distort 50</button>
<button (click)="distort(5)">distort 5</button>
<button (click)="distort(0)">distort 0</button>
<button
  (click)="
    playChord([
      '1/12',
      '1/6',
      '1/4',
      '1/2',
      '2/2',
      '1/3',
      '4/3',
      '7/4',
      '6/3',
      '8/3',
      '14/4',
      '12/3'
    ])
  "
>
  Chord
</button>
<button
  (click)="
    playChord([
      '1/12',
      '1/6',
      '1/4',
      '1/2',
      '2/2',
      '1/3',
      '4/3',
      '5/3',
      '6/3',
      '8/3',
      '10/3',
      '12/3'
    ])
  "
>
  Chord
</button>
<button
  (click)="
    playChord([
      '1/16',
      '1/8',
      '1/4',
      '1/2',
      '3/4',
      '4/4',
      '5/4',
      '6/4',
      '8/4',
      '10/4',
      '12/4',
      '16/4'
    ])
  "
>
  Chord
</button>
<button
  (click)="
    playChord([
      '1/16',
      '1/8',
      '1/4',
      '1/2',
      '3/4',
      '4/4',
      '6/5',
      '6/4',
      '8/4',
      '12/5',
      '12/4',
      '16/4'
    ])
  "
>
  Chord
</button>
<button
  (click)="
    playChord([
      '1/15',
      '1/10',
      '1/5',
      '2/5',
      '3/5',
      '4/5',
      '5/5',
      '6/5',
      '8/5',
      '10/5',
      '12/5',
      '16/5',
      '20/5'
    ])
  "
>
  Chord
</button>
<button
  (click)="
    playChord([
      '1/12',
      '3/12',
      '1/6',
      '2/6',
      '4/5',
      '3/6',
      '4/6',
      '4/6',
      '6/6',
      '8/6',
      '10/6',
      '12/6'
    ])
  "
>
  Chord
</button>
<button
  (click)="
    playChord(['1/14', '1/7', '2/7', '4/7', '7/7', '9/7', '11/7', '14/7'])
  "
>
  Chord
</button>

<button
  (click)="
    playChord(['1/8', '2/8', '4/8', '8/8', '6/5', '7/5', '16/8', '12/5', '14/5', '32/8'])
  "
>
  vermindert
</button>

<button (click)="setFrequency(880)">A (880)</button>
<button (click)="setFrequency(523.3)">C (523.3)</button>
<br>
<button mat-raised-button color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency * 2);
    playChord([
      '1/16',
      '1/8',
      '1/4',
      '2/4',
      '3/4',
      '4/4',
      '5/4',
      '6/4',
      '8/4',
      '10/4',
      '12/4',
      '16/4'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency * 2 }}
</button>
<br>
<button mat-raised-button color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency * 2);
    playChord([
      '1/16',
      '1/8',
      '1/4',
      '2/4',
      '3/5',
      '3/4',
      '4/4',
      '6/5',
      '6/4',
      '8/4',
      '12/5',
      '12/4',
      '16/4'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency * 2 }}
</button>
<br>
<button mat-raised-button color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency * 2);
    playChord(['1/16', '1/8', '2/8', '4/8', '7/10', '5/5', '6/5', '7/5', '10/5', '12/5', '14/5', '20/5'])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency * 2 }}
</button>
