<div style="width: 100%; height:600px; overflow-y: scroll;">
  <div style="width: 4000px; height: 600px; position:relative;">
    <button
      *ngFor="let note of notes; let i = index"
      class="note"
      (click)="beep(i)"
      [ngStyle]="
        !note.playing
          ? {
              'background-color': '#000',
              color: '#fff',
              left: note.frequency / .5 + 'px',
              top: note.row * 30 + 15 + 'px'
            }
          : {
              'background-color': '#fff',
              color: '#000',
              left: note.frequency / .5 + 'px',
              top: note.row * 30 + 15 + 'px'
            }
      "
    >
      {{ note.name }}
    </button>
  </div>
</div>
<button (click)="silence()">silence</button>
<button (click)="distort(50)">distort 50</button>
<button (click)="distort(5)">distort 5</button>
<button (click)="distort(0)">distort 0</button>

<br>
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/4',
      '2/4',
      '3/4',
      '4/4',
      '5/4',
      '6/4',
      '8/4',
      '10/4',
      '12/4',
      '16/4',
      '20/4',
      '24/4',
      '32/4'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/4',
      '2/4',
      '3/4',
      '4/4',
      '6/5',
      '6/4',
      '8/4',
      '12/5',
      '12/4',
      '16/4',
      '24/5',
      '24/4',
      '32/4'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/4',
      '2/4',
      '5/5',
      '6/5',
      '7/5',
      '10/5',
      '12/5',
      '14/5',
      '17/5',
      '20/5',
      '24/5',
      '28/5',
      '34/5',
      '40/5'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}</button
><br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/4',
      '2/4',
      '3/4',
      '4/4',
      '5/4',
      '6/4',
      '7/4',
      '8/4',
      '10/4',
      '12/4',
      '14/4',
      '16/4',
      '20/4',
      '24/4',
      '28/4',
      '32/4'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/4',
      '2/4',
      '3/4',
      '5/6',
      '4/4',
      '5/4',
      '6/4',
      '5/3',
      '8/4',
      '10/4',
      '12/4',
      '10/3',
      '16/4'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/5',
      '2/5',
      '3/5',
      '4/5',
      '5/5',
      '6/5',
      '8/5',
      '10/5',
      '12/5',
      '16/5',
      '20/5',
      '24/5',
      '32/5',
      '40/5'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/3',
      '2/3',
      '3/3',
      '4/3',
      '5/3',
      '6/3',
      '8/3',
      '10/3',
      '12/3',
      '16/3',
      '20/3',
      '24/3'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/2',
      '2/2',
      '3/2',
      '4/2',
      '5/2',
      '6/2',
      '8/2',
      '10/2',
      '12/2',
      '16/2'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
      '1/7',
      '3/7',
      '4/7',
      '7/7',
      '9/7',
      '11/7',
      '14/7',
      '18/7',
      '22/7',
      '28/7',
      '36/7',
      '44/7',
      '56/7'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
    '3/9',
    '4/9',
      '7/9',
      '9/9',
      '11/9',
      '14/9',
      '18/9',
      '22/9',
      '28/9',
      '36/9',
      '44/9',
      '56/9',
      '72/9'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
<br />
<button
  mat-raised-button
  color="primary"
  *ngFor="let equalNote of equalNotes"
  (click)="
    setFrequency(equalNote.frequency );
    playChord([
    '3/9',
    '4/9',
      '7/9',
      '9/9',
      '11/9',
      '14/9',
      '17/9',
      '22/9',
      '28/9',
      '34/9',
      '44/9',
      '56/9',
      '68/9'
    ])
  "
>
  {{ equalNote.name }}{{ equalNote.frequency }}
</button>
